# List

In [1]:
# A list is a Container which can hold different data types in it

In [2]:
lst = ["Sumeet", 10, 355, 45.36, [1,2,3]]

In [3]:
lst

['Sumeet', 10, 355, 45.36, [1, 2, 3]]

In [34]:
# adding one more element too the list
lst.append("Poddar")

In [5]:
lst

['Sumeet', 10, 355, 45.36, [1, 2, 3], 'Poddar']

In [7]:
#getting the index value in a list
lst.index(355)

2

In [9]:
#displaying the value in a list on the given index
lst[5]

'Poddar'

In [10]:
lst[4][2]

3

In [11]:
#inserting a new value in a list at the given index
lst.insert(2,'rakesh')

In [12]:
lst

['Sumeet', 10, 'rakesh', 355, 45.36, [1, 2, 3], 'Poddar']

In [13]:
#poping a value in a list at the given index
lst.pop(2)

'rakesh'

In [14]:
lst

['Sumeet', 10, 355, 45.36, [1, 2, 3], 'Poddar']

In [16]:
#removing a value in a list at the given index
lst.remove(10)

In [17]:
lst

['Sumeet', 355, 45.36, [1, 2, 3], 'Poddar']

# Dictionaries

In [18]:
# This is a KEY Value pair data strcutre, it is complex, and is an object of DICT class in Python 
#  {"KEY": "Value" }

In [19]:
dit = {"name":"Sumeet", "age":"30","number":1234567,"email":"sumeetpoddar07@gmail.com"}

In [20]:
#display the dictionary
dit

{'name': 'Sumeet',
 'age': '30',
 'number': 1234567,
 'email': 'sumeetpoddar07@gmail.com'}

In [21]:
#display the dictionary items
dit.items()

dict_items([('name', 'Sumeet'), ('age', '30'), ('number', 1234567), ('email', 'sumeetpoddar07@gmail.com')])

In [23]:
#get the dictionary particular value
dit.get('age')

'30'

In [24]:
#display the dictionary keys
dit.keys()

dict_keys(['name', 'age', 'number', 'email'])

In [31]:
#adding one more value in dictionary 
dit["address"] = 2020

In [33]:
dit

{'name': 'Sumeet',
 'age': '30',
 'number': 1234567,
 'email': 'sumeetpoddar07@gmail.com',
 'address': 2020}

# SETS

In [1]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

In [4]:
set1

{1, 2, 3}

In [5]:
set2

{4, 5, 6}

In [6]:
# Add in set1
set1.add(7)

In [7]:
set1

{1, 2, 3, 7}

In [8]:
#remove from set2
set2.remove(4)

In [9]:
set2

{5, 6}

In [10]:
#Join to sets
set3 = set1.union(set2)

In [11]:
set3

{1, 2, 3, 5, 6, 7}

In [12]:
#remove the first one from set3
set3.pop()

1

In [13]:
set3

{2, 3, 5, 6, 7}

In [14]:
#subset function
set2.issubset(set3)

True

In [15]:
#intersection of set2 and set3
set2.intersection(set3)

{5, 6}

# Tuple

In [16]:
tup1 = ('sunday', 'monday', 'tuesday', 'wednesday')
tup2 = (1, 2, 3, 4, 5 )

In [17]:
# display tuples
tup1

('sunday', 'monday', 'tuesday', 'wednesday')

In [18]:
tup2

(1, 2, 3, 4, 5)

In [19]:
# accessing the values
tup1[2]

'tuesday'

In [20]:
#updating the tuples
tup3 = tup1 + tup2
tup3

('sunday', 'monday', 'tuesday', 'wednesday', 1, 2, 3, 4, 5)

In [23]:
# total number of elements 
tup3.count(3)

1

In [24]:
# position value of the particular element in a tuple
tup3.index('wednesday')

3

# Strings

In [25]:
str1 = "learn python programming"
str2 = "learning python with letsupgrade"

In [26]:
str1

'learn python programming'

In [27]:
str2

'learning python with letsupgrade'

In [31]:
#capitalize the first word
str1.capitalize()

'Learn python programming'

In [32]:
#count the number of times the letter occurs in a string
str1.count('a')

2

In [37]:
# checks the ending of the string
str2.endswith('grade')

True

In [38]:
# give the index position in the string
str2.index('w')

16

In [39]:
#add two strings
str3 = str1 + str2
str3

'learn python programminglearning python with letsupgrade'